<div class="weui-tab">
  <div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active" style="background-color: #efeff4">
      <!--页面组件内容-->
      <router-outlet>
      </router-outlet>
      <div style="height: 60px"></div>
    </div>
  </div>
  <div class="weui-tabbar">

    <a routerLink="/" id="toHome" class="weui-tabbar__item weui-bar__item--on">
      <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
      <div class="weui-tabbar__icon" id="home">
        <i class="fa fa-home fa-stack-2x"></i>
      </div>
      <p class="weui-tabbar__label">首页</p>
    </a>

    <a routerLink="/message" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <i class="fa fa-commenting fa-stack-2x"></i>
      </div>
      <p class="weui-tabbar__label">新闻</p>
    </a>
    <a routerLink="/cart" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <i class="fa fa-shopping-cart fa-stack-2x"></i>
      </div>
      <p class="weui-tabbar__label">购物车</p>
    </a>

    <a routerLink="/user" class="weui-tabbar__item">
      <div class="weui-tabbar__icon">
        <i class="fa fa-user fa-stack-2x"></i>
      </div>
      <p class="weui-tabbar__label">个人</p>
    </a>

  </div>
</div>

