<a href="#">

  <div class="white-box address">

    <span class="fontSize12">收货人：杨一帆</span>
    <span class="fontSize12">18373121139</span>
    <span class="floatRight fontSize20"> ></span>
    <div class="clear"></div>
    <div>
      <span class="fontSize12">收货地址：湖南省长沙市开福区长沙大学洪山2栋</span>
    </div>
  </div>
</a>
<div class="height10"></div>
<div class="white-box address">
  <img src="assets/klt.png" width="20px" height="20px" alt=""><span class="fontSize12">酷乐堂生活馆</span>
</div>
<div class="address">
  <div class="height5"></div>
  <div class="row">
    <div class="col-xs-4">
      <!--[ngStyle]="{'background-image':+'url('+ products.Image+')'}"-->
      <div  style="background-image:url(assets/IMG_5097.JPG);position: relative;background-position: center;background-size: cover;height: 85px">
        <img src="assets/admin/img/tm.png" width="100%" height="auto" alt="">
      </div>
    </div>
    <div class="col-xs-8" style="max-height: 90px">
      <div style="height: 48px;overflow: hidden">
        <span class="fontSize12 lineHeight">
          {{products.Name}}-{{products.Content}}
        </span>
      </div>
      <div class="height10"></div>
      <div>
        <span style="font-size: 10px;color: #e35b5a">￥</span><span style="color: #e35b5a;font-size: 16px">{{products.Price}}</span>
        <span class="floatRight fontSize12" style="margin-right: 10px">×1</span>
      </div>
    </div>
  </div>
  <div class="height5"></div>

</div>
<div class="address white-box">
  <span class="fontSize12">配送方式</span>
  <span class="floatRight fontSize12">快递 免邮</span>
  <div class="clear"></div>
  <hr class="sepLine">
  <span class="fontSize12">购买数量</span>
  <span class="floatRight fontSize12">
    <button class="btn btn-default numBtn">-</button>
    <input class="numInput" type="number" value="1" style="width: 20px;" readonly="readonly">
     <button class="btn btn-default numBtn">+</button>
  </span>
  <div class="clear"></div>
  <hr class="sepLine">
  <span class="floatRight fontSize12">共计： <span style="font-size: 10px;color: #e35b5a">￥</span><span style="color: #e35b5a;font-size: 16px">180</span></span>
  <div class="clear"></div>
</div>

<div class="height10"></div>
<div class="address white-box">
  <div class="height10"></div>
  <div class="row">
    <div class="col-xs-6" style="text-align: center">
      <button class="btn btn-default cancelBtn" (click)="locationBack()">取消订单</button>
    </div>
    <div class="col-xs-6" style="text-align: center">
      <a class="btn btn-default uploadOrderBtn">提交订单</a>
    </div>
  </div>
  <div class="height10"></div>

</div>
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">提示信息</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{modelText}}</p>
      </div>
    </div>
  </div>
</div>
<div id="loadingToast" class="weui_loading_toast" [(style.display)]="isDisplay">
  <div class="weui_mask_transparent"></div>
  <div class="weui_toast">
    <div class="weui_loading">
      <!-- :) -->
      <div class="weui_loading_leaf weui_loading_leaf_0"></div>
      <div class="weui_loading_leaf weui_loading_leaf_1"></div>
      <div class="weui_loading_leaf weui_loading_leaf_2"></div>
      <div class="weui_loading_leaf weui_loading_leaf_3"></div>
      <div class="weui_loading_leaf weui_loading_leaf_4"></div>
      <div class="weui_loading_leaf weui_loading_leaf_5"></div>
      <div class="weui_loading_leaf weui_loading_leaf_6"></div>
      <div class="weui_loading_leaf weui_loading_leaf_7"></div>
      <div class="weui_loading_leaf weui_loading_leaf_8"></div>
      <div class="weui_loading_leaf weui_loading_leaf_9"></div>
      <div class="weui_loading_leaf weui_loading_leaf_10"></div>
      <div class="weui_loading_leaf weui_loading_leaf_11"></div>
    </div>
    <p class="weui_toast_content">数据加载中</p>
  </div>
</div>
