<div class="container">

  <form action="" id="cart" name="cart">
    <div class="row car_product" *ngFor="let cart of carts">
      <div class="col-xs-2">
        <div style="height: 18px"></div>
        <div class="checkboxFour">
          <input type="checkbox"  value="1" class="checkboxInput" name="" />
        </div>
      </div>
      <div class="col-xs-10" style="padding: 0px 13px 0px 0px">
        <div class="row">
          <div class="col-xs-3" style="padding: 0 0 0 8px">
            <div style="height: 6px"></div>
            <div [ngStyle]="{'background-image':+'url('+ cart.Image+')'}" style=";background-size: cover;background-position: center;height: 60px">
              <img src="/web-static/admin/img/tm.png">
            </div>
          </div>
          <div class="col-xs-9">
            <div style="height: 40px;overflow: hidden">
              <p style="font-size: 12px">{{cart.Name}}-{{cart.Content}}</p>
            </div>
            <div style="height: 3px"></div>
            <div class="row">
              <div class="col-xs-6">
                <span style="color: #e35b5a;font-size: 10px">￥</span><span style="color: #e35b5a">{{cart.Price * cart.Num}}</span>
              </div>
              <div class="col-xs-6" style="text-align: right">
                <button class="btn btn-danger" style="height: 20px;font-size: 10px;line-height: 8px">删除</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </form>






</div>
<div class="weui-tabbar" style="bottom: 53px;background-color: #fff;position: fixed">

  <div  class="weui-tabbar__item" style="background-color: #fff;color: #555">
    <div style="height: 5px"></div>
    <div class="weui-tabbar__label">
      总计：<span style="color: #e35b5a">￥</span><span id="count" style="color: #e35b5a">0</span>

    </div>
  </div>

  <a routerLink="/rent" class="weui-tabbar__item" style="background-color: green">
    <div style="height: 5px"></div>

    <p class="weui-tabbar__label" style="color: #fff!important;">立即结算</p>
  </a>

</div>
