<carousel>
  <slide>
      <img src="/assets/6.jpeg" alt="" style="height: 200px">
    <div class="carousel-caption">
      <p>任何商品免费送货</p>
    </div>
  </slide>
  <slide>
    <img src="/assets/5.jpeg" alt="" style="height: 200px">
    <div class="carousel-caption">
      <p>海量图书任你选</p>
    </div>
  </slide>
</carousel>
<div class="white-box">
  <div style="height: 20px">
  </div>
  <div class="container">
    <div class="col-xs-12" style="">
      <div class="row" style="padding: 0px">
        <div class="col-md-4 col-xs-4">
          <div>
            <a style="" href="#">
              <div  style="background-image: url(/assets/5.jpeg);background-size: cover;background-position: center;width: 100%;max-height: 60px">
                <img src="/assets/admin/img/tm.png" alt="">
              </div>
            </a>
          </div>
        </div>
        <a style="color: #555;text-decoration: none" href="#">
          <div class="col-md-8 col-xs-8">
            <h4 style="margin-top: 0;color: #555;font-size: 14px" >图书三折起，支持在线浏览 先看再买不后悔，任何商品免费送货</h4>
            <p style="color: #aaa;font-size: 12px">2019-09-09</p>
          </div>
        </a>
      </div>
      <hr style="">
    </div>
    <div class="col-xs-12" style="">
      <div class="row" style="padding: 0px">
        <div class="col-md-4 col-xs-4">
          <div>
            <a style="" href="#">
              <div  style="background-image: url(/assets/5.jpeg);background-size: cover;background-position: center;width: 100%;max-height: 60px">
                <img src="/assets/admin/img/tm.png" alt="">
              </div>
            </a>
          </div>
        </div>
        <a style="color: #555;text-decoration: none" href="#">
          <div class="col-md-8 col-xs-8">
            <h4 style="margin-top: 0;color: #555;font-size: 14px" >图书三折起，支持在线浏览 先看再买不后悔，任何商品免费送货</h4>
            <p style="color: #aaa;font-size: 12px">2019-09-09</p>
          </div>
        </a>
      </div>
      <hr style="">
    </div>
    <div class="col-xs-12" style="">
      <div class="row" style="padding: 0px">
        <div class="col-md-4 col-xs-4">
          <div>
            <a style="" href="#">
              <div  style="background-image: url(/assets/5.jpeg);background-size: cover;background-position: center;width: 100%;max-height: 60px">
                <img src="/assets/admin/img/tm.png" alt="">
              </div>
            </a>
          </div>
        </div>
        <a style="color: #555;text-decoration: none" href="#">
          <div class="col-md-8 col-xs-8">
            <h4 style="margin-top: 0;color: #555;font-size: 14px" >图书三折起，支持在线浏览 先看再买不后悔，任何商品免费送货</h4>
            <p style="color: #aaa;font-size: 12px">2019-09-09</p>
          </div>
        </a>
      </div>
      <hr style="">
    </div>
    <div class="col-xs-12" style="">
      <div class="row" style="padding: 0px">
        <div class="col-md-4 col-xs-4">
          <div>
            <a style="" href="#">
              <div  style="background-image: url(/assets/5.jpeg);background-size: cover;background-position: center;width: 100%;max-height: 60px">
                <img src="/assets/admin/img/tm.png" alt="">
              </div>
            </a>
          </div>
        </div>
        <a style="color: #555;text-decoration: none" href="#">
          <div class="col-md-8 col-xs-8">
            <h4 style="margin-top: 0;color: #555;font-size: 14px" >图书三折起，支持在线浏览 先看再买不后悔，任何商品免费送货</h4>
            <p style="color: #aaa;font-size: 12px">2019-09-09</p>
          </div>
        </a>
      </div>
      <hr style="">
    </div>
    <div class="col-xs-12" style="">
      <div class="row" style="padding: 0px">
        <div class="col-md-4 col-xs-4">
          <div>
            <a style="" href="#">
              <div  style="background-image: url(/assets/5.jpeg);background-size: cover;background-position: center;width: 100%;max-height: 60px">
                <img src="/assets/admin/img/tm.png" alt="">
              </div>
            </a>
          </div>
        </div>
        <a style="color: #555;text-decoration: none" href="#">
          <div class="col-md-8 col-xs-8">
            <h4 style="margin-top: 0;color: #555;font-size: 14px" >图书三折起，支持在线浏览 先看再买不后悔，任何商品免费送货</h4>
            <p style="color: #aaa;font-size: 12px">2019-09-09</p>
          </div>
        </a>
      </div>
      <hr style="">
    </div>
    <div class="col-xs-12" style="">
      <div class="row" style="padding: 0px">
        <div class="col-md-4 col-xs-4">
          <div>
            <a style="" href="#">
              <div  style="background-image: url(/assets/5.jpeg);background-size: cover;background-position: center;width: 100%;max-height: 60px">
                <img src="/assets/admin/img/tm.png" alt="">
              </div>
            </a>
          </div>
        </div>
        <a style="color: #555;text-decoration: none" href="#">
          <div class="col-md-8 col-xs-8">
            <h4 style="margin-top: 0;color: #555;font-size: 14px" >图书三折起，支持在线浏览 先看再买不后悔，任何商品免费送货</h4>
            <p style="color: #aaa;font-size: 12px">2019-09-09</p>
          </div>
        </a>
      </div>
      <hr style="">
    </div>
  </div>

</div>
