.height30{
  height: 15px;
}
.height10{
  height: 5px;
}
.weui-grid__label{
  color: #777;
  font-size: 12px;
}
.white-box{
  background-color: white;
}
.hot-product-name{
  font-size: 12px;
  margin-top: 5px;
}
.user_header{
  text-align: center;
}
.weui-cell{
  height: 36px;
}
