<div style="background-image: url(assets/admin/img/user_bg.jpg);position: relative;background-position: center;background-size: cover;height: 150px">

  <div class="user_header">

    <div class="height30"></div>
    <div class="height30"></div>
    <img src="{{user.HeadImage}}" alt="" class="img-circle" width="70px" height="70px" ><br>
    <div class="height30"></div>
    会员名:{{user.Name}}
  </div>

</div>


<div class="white-box">
  <div class="weui-grids" style="height: 70px">

    <a href="#" class="weui-grid js_grid" style="height: 70px">
      <div class="weui-grid__icon" style="height: 16px;font-size: 16px;color:#666;">
        {{user.Account}}
      </div>
      <p class="weui-grid__label">
        我的余额
      </p>
    </a>
    <a href="#" class="weui-grid js_grid" style="height: 70px">
      <div class="weui-grid__icon" style="height: 16px;font-size: 16px;color:#666;">
        5张
      </div>
      <p class="weui-grid__label">
        我的卡券
      </p>
    </a>
    <a href="#" class="weui-grid js_grid" style="height: 70px">
      <div class="weui-grid__icon" style="height: 16px;font-size: 16px;color:#666;">
        {{user.Mark}}
      </div>
      <p class="weui-grid__label">
        商城积分
      </p>
    </a>
    <!--<a href="" class="weui-grid js_grid">-->
    <!--<div class="weui-grid__icon">-->
    <!--<img src="assets/dist/demos/images/icon_nav_Button.png" alt="">-->
    <!--</div>-->
    <!--<p class="weui-grid__label">-->
    <!--送父母-->
    <!--</p>-->
    <!--</a>-->
  </div>
</div>
<div class="height30"></div>
<div class="white-box">
  <div class="container" style="padding: 10px">
    <div class="row">
      <div class="col-xs-6" style="color: #666;font-size: 14px">我的订单</div>
      <div class="col-xs-6" style="color: #aaa;text-align: right"><a href="#" style="color: #aaa;">全部订单 ></a></div>
    </div>
  </div>
  <hr style="margin: 0">
  <div class="container">
    <div class="height10"></div>
    <div class="weui-flex">

      <div class="weui-flex__item orderCss" style="padding: 5px">
        <a href="#" >
          <div class="weui-grid__icon" style="height: 22px;font-size: 16px;color:#666;text-align: center">
            <i class="fa fa-credit-card"></i>
          </div>
          <p class="weui-grid__label">
            待支付
          </p>
        </a>
      </div>
      <div class="weui-flex__item orderCss" style="padding: 5px">
        <a href="#">
          <div class="weui-grid__icon" style="height: 22px;font-size: 16px;color:#666;text-align: center">
            <i class="fa  fa-circle-o-notch"></i>
          </div>
          <p class="weui-grid__label">
            待发货
          </p>
        </a>
      </div>
      <div class="weui-flex__item orderCss" style="padding: 5px">
        <a href="#">
          <div class="weui-grid__icon" style="height: 22px;font-size: 16px;color:#666;text-align: center">
            <i class="fa fa-rocket"></i>
          </div>
          <p class="weui-grid__label">
            待收货
          </p>
        </a>
      </div>
      <div class="weui-flex__item orderCss" style="padding: 5px">
        <a href="#">
          <div class="weui-grid__icon" style="height: 22px;font-size: 16px;color:#666;text-align: center">
            <i class="fa fa-pencil"></i>
          </div>
          <p class="weui-grid__label">
            待评价
          </p>
        </a>
      </div>
      <div class="weui-flex__item orderCss" style="padding: 5px">
        <a href="#">
          <div class="weui-grid__icon" style="height: 22px;font-size: 16px;color:#666;text-align: center">
            <i class="fa fa-truck"></i>
          </div>
          <p class="weui-grid__label">
            物流信息
          </p>
        </a>
      </div>

    </div>
  </div>
  <div class="height10"></div>
</div>
<div class="weui-cells weui-cells_form">
  <div class="weui-cell orderCss">
    <div class="weui-cell__hd">
      <div style="height: 5px"></div>
      <label class="weui-label" style="font-size: 14px;line-height: 36px;color: #666">
        <i class="fa fa-money"></i> 余额充值
      </label>
    </div>
    <div class="weui-cell__bd" style="text-align: right;color:#999;line-height: 36px">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  <div class="weui-cell orderCss">
    <div class="weui-cell__hd">
      <div style="height: 5px"></div>
      <label class="weui-label" style="font-size: 14px;line-height: 36px;color: #666">
        <i class="fa fa-tasks"></i> 收货地址
      </label>
    </div>
    <div class="weui-cell__bd" style="text-align: right;color:#999;line-height: 36px">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  <div class="weui-cell orderCss">
    <div class="weui-cell__hd">
      <div style="height: 5px"></div>
      <label class="weui-label" style="font-size: 14px;line-height: 36px;color: #666">
        <i class="fa fa-heart-o"></i> 我的收藏
      </label>
    </div>
    <div class="weui-cell__bd" style="text-align: right;color:#999;line-height: 36px">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  <div class="weui-cell orderCss">
    <div class="weui-cell__hd">
      <div style="height: 5px"></div>
      <label class="weui-label" style="font-size: 14px;line-height: 36px;color: #666">
        <i class="fa fa-user"></i> 个人资料
      </label>
    </div>
    <div class="weui-cell__bd" style="text-align: right;color:#999;line-height: 36px">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  <div class="weui-cell orderCss">
    <div class="weui-cell__hd">
      <div style="height: 5px"></div>
      <label class="weui-label" style="font-size: 14px;line-height: 36px;color: #666">
        <i class="fa fa-phone"></i> 联系我们
      </label>
    </div>
    <div class="weui-cell__bd" style="text-align: right;color:#999;line-height: 36px">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>
  <div class="weui-cell orderCss">
    <div class="weui-cell__hd">
      <div style="height: 5px"></div>
      <label class="weui-label" style="font-size: 14px;line-height: 36px;color: #666">
        <i class="fa fa-users"></i> 技术支持
      </label>
    </div>
    <div class="weui-cell__bd" style="text-align: right;color:#999;line-height: 36px">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

</div>
